body{
    background:black;
}

.navbar-default{
    background: #222;
    margin-bottom:0;
    border:0;
    color:white;
}



.content{
    width:100%;
    margin-top:0;
}

.page{
    height: 1000px;
}

#home{
    background:#CC0000;
}

#problem{
    background:#00CC00;
}

#app{
    background: #0000CC;
}

#uses{
    background: #CCCC00;
}

#challenge{
    background: #CC00CC;
}

#contact{
    background: #00CCCC;
}