body{
    background:black;
    font-family: 'League Gothic', serif;
}

.navbar-default{
    background: #222;
    margin-bottom:0;
    border:0;
    color:white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
    color:white;
    font-family: 'Myriad-Pro', serif;
}

.navbar-nav>li>a:hover{
    color:#EEEEEE;
}

.content{
    width:100%;
    margin-top:0;
}

.page{
    height: 1000px;
    width:100%;
}

#home{
    background:#FFFFFF;
    background: url("../images/chilling-bench.jpg") no-repeat center;
    background-size: 100% 100%;
    text-align:center;
    color:white;
}

#problem{
    background:#AAAAAA;
    text-align:center;
}

#app{
    background: #0000CC;
    text-align:center;
}

#uses{
    background: #CCCC00;
    text-align:center;
}

#challenge{
    background: #CC00CC;
    text-align:center;
}

#contact{
    background: #00CCCC;
    text-align:center;
}

.title{
    font-size: 156px;
    display:block;
}

.appear{
    display:inline-block;
    font-size: 52px;
}

#tough_love_release_date{
    font-size:58px;
    margin-top:450px;
}

.descriptive-text{
    font-size:46px;
}

#problem-description{
    text-align:left;
}

#problem-photo{
    text-align:right;
}

.row{
    margin:0;
}

.container-large{
    padding:10%;
}


/*Fonts***************************/

@font-face {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LeagueGothic.otf') format('opentype');
}